<h1>Stupid coach</h1>
<p>Ask a question to the coach</p>

<form class="form-inline" action="/answer" method="get">
  <input type="text" name="question" placeholder="Type here">
  <input type="submit" id="btn">
</form>
